@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

body {
    font-family: source sans pro;
    font-size: 1.2rem;
    font-weight: 100;
    color: #2f2f2f;
}

.heading>h1{
    font-family: Epilogue;
    font-size: 4rem;
    font-weight: 100;
    width: 250px;
}

.wrapper {
    padding: 3rem 0 0 5rem;
}

button {
    padding: 5px;
    font: bold .6em 100;
    border: 1px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}