@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

body {
    padding-left: 1rem;
    font-family: Source Sans Pro;
    font-size: 1.5rem;
    font-weight: 200;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#text {
    position: relative;
    height: auto;
    width: 600px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color:#000000;
}

.buttons {
    display: flex;
    flex-flow: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.row1, .row2, .row3 {
    padding: 10px;
}

div > button, input {

    width: 180px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-family: Source Sans Pro;
    font-size: 20px;
}
