@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

body {
    font-family: source sans pro;
    font-size: 1.2rem;
    font-weight: 100;
    color: #2f2f2f;
}

.heading>h1{
    font-family: Epilogue;
    font-size: 4rem;
    font-weight: 100;
    width: 250px;
}

.test {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

input, button {
    width : 250px;
    padding: 5px;
    margin: 1em 1em 1em 0;
    box-sizing: border-box;
    color: black;
    display: block;
}

label {
    cursor: pointer;
}

textarea {
    display:block;
    margin-top: 20px;
    width: 250px;
    font-family: Source Sans Pro;
    font-size: 1.2rem;
    font-weight: 100;
    resize: none;
}

button {
    padding      : 5px;
    font         : bold .6em 100;
    border       : 1px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
}

button:after {
    content      : " >>>";
  }
  
  button:hover, button:focus {
    outline     : none;
    background  : #000;
    color       : #FFF;
  }